<div class="level-container">

  <!-- Fondo -->
  <img src="/assets/images/fondolv1.png" alt="Fondo" class="fondo" />

  <!-- HUD -->
  <div class="hud">
    <app-vidas [vidas]="vidas"></app-vidas>
    <app-coin-score [monedas]="monedas"></app-coin-score>
  </div>

  <!-- Suelo primera sección -->
  <img src="/assets/images/floor1.png" alt="Suelo" class="suelo" />

  <!-- Agujero -->
  <img src="/assets/images/hole1.png" alt="Agujero" class="agujero" />

  <!-- Plataforma extra para la hierba -->
  <img src="/assets/hud/plataforma.png" alt="Plataforma" class="plataforma" [style.left.px]="bloqueCesped.x" *ngIf="bloqueCesped.visible" />

  <!-- Bloque de césped (bloque a empujar) -->
  <img src="/assets/bloques/bloqueCesped.png" alt="Bloque Césped" class="bloque-cesped" [style.left.px]="bloqueCesped.x" *ngIf="bloqueCesped.visible" />

<img #personaje [style.left.px]="personajeX" [style.bottom.px]="personajeY"
     [src]="avatarRunUrl"
     class="personaje" />

  <!-- Moneda -->
  <app-moneda [x]="550" [y]="60"></app-moneda>

  <!-- Mensaje de introducción -->
  <div class="mensaje-intro" *ngIf="mostrarMensaje">
    {{ mensajesIntro[mensajeIndex] }}
    <br />
    <small>Presiona ENTER para continuar</small>
  </div>

</div>