:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f75cc;
  color: white;
  font-family: 'Press Start 2P', cursive;
  padding: 20px;
  height: 100vh;
}

h2 {
  margin-bottom: 20px;
  font-size: 16px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #fff;
  color: black;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  width: 300px;
  box-shadow: 3px 3px #000;
}

img {
  border-radius: 50%;
}
