:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-image: url('/assets/images/fondo.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  font-family: 'Press Start 2P', cursive;
  position: relative;
}

.join-container {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 20px 30px;
  box-shadow: 4px 4px #000;
  max-width: 400px;
  width: 100%;
  text-align: center;
}

h2 {
  font-size: 16px;
  margin-bottom: 20px;
  color: #000;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  font-family: 'Press Start 2P', cursive;
  border-radius: 8px;
  border: 2px solid #000;
  font-size: 12px;
  text-align: center;
}

button {
  background-color: #f3c427;
  border: none;
  padding: 12px;
  font-family: 'Press Start 2P', cursive;
  cursor: pointer;
  width: 100%;
  border-radius: 10px;
  box-shadow: 3px 3px #000;
  font-size: 12px;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

button:hover {
  background-color: #ffd60a;
  transform: scale(1.05);
}

.error {
  color: red;
  margin-top: 10px;
  font-size: 10px;
}
