<div class="form-container">
  <app-boton texto="Volver a Inicio" (click)="goBack()" class="custom-back-button"></app-boton>

  <h2>Registro - Maestro</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmitTeacher()">
    <input type="text" placeholder="Nombre de usuario" formControlName="username" />
    <input type="email" placeholder="Correo electrónico" formControlName="email" />
    <input type="password" placeholder="Contraseña" formControlName="password" />
    <app-boton texto="Registrarse" type="submit"></app-boton>
  </form>
</div>
