<div class="level-container" [ngStyle]="{'background-image': 'url(assets/images/fondo-nivel.jpg)'}">

  <!-- Textbox -->
  <div class="textbox" *ngIf="showIntro">
    <img src="assets/images/textbox.png" class="textbox-bg" />
    <div class="textbox-content">
      <p>
        Bienvenido a Aventura Numeral. En este juego las fracciones se representan con bloques divididos en secciones.
        Las secciones coloreadas representan el numerador y todas las secciones el denominador.
        El bloque que tienes en frente tiene 4 secciones coloreadas y 6 en total, es decir, representa la fracción 4/6.
        Puedes empujar los bloques con la tecla E. ¡Vamos, empuja el bloque para cubrir el agujero!
      </p>
      <button (click)="hideIntro()">Continuar</button>
    </div>
  </div>

  <!-- Personaje -->
  <img class="player" [ngStyle]="playerStyle" src="/assets/sprites/avatar-boy-1.png" />

  <!-- Bloque fraccionario -->
  <img class="block" [ngStyle]="blockStyle" src="assets/images/bloque.png" />

  <!-- Agujero -->
  <div class="hole"></div>
</div>
