<div class="profile-card">
<button class="volver-btn" (click)="volverHome()">← Volver a inicio</button>

  <h2>Perfil de Maestro</h2>

  <div *ngIf="!editMode">
    <p><strong>Usuario:</strong> {{ user.username }}</p>
    <p><strong>Correo:</strong> {{ user.email }}</p>
    <button (click)="editMode = true">Modificar datos</button>
  </div>

  <div *ngIf="editMode">
    <label>Usuario:</label>
    <input [(ngModel)]="editUsername" name="editUsername" />

    <label>Correo:</label>
    <input [(ngModel)]="editEmail" name="editEmail" />

    <label>Nueva Contraseña:</label>
    <input [(ngModel)]="editPassword" name="editPassword" type="password" />

    <button (click)="saveProfileChanges()">Guardar Cambios</button>
    <button (click)="editMode = false">Cancelar</button>
  </div>

  <hr />

  <h3>Crear nueva clase</h3>
  <form (ngSubmit)="createClass()">
    <input [(ngModel)]="newClassName" name="newClassName" placeholder="Nombre" required />
    <input [(ngModel)]="newClassSubject" name="newClassSubject" placeholder="Materia" required />
    <input [(ngModel)]="newClassInstitution" name="newClassInstitution" placeholder="Institución" required />
    <button type="submit">Crear clase</button>
  </form>

  <hr />

  <div *ngIf="classes.length > 0">
    <h3>Mis clases</h3>
    <ul>
<li *ngFor="let c of classes">
  <div class="class-info">
    <strong>{{ c.name }}</strong> - {{ c.subject }} ({{ c.institution }})<br />
    <small><strong>Código:</strong> {{ c.code }}</small>
  </div>
  <div class="class-buttons">
    <button (click)="goToClass(c.id)">Ver estudiantes</button>
    <button (click)="editClass(c)">Editar</button>
    <button (click)="deleteClass(c.id)">Eliminar</button>
  </div>
</li>
    </ul>
  </div>
</div>
