.custom-button {
  background-image: url('/assets/hud/framebotones.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;

  width: 100%; /* <- Se adaptará al contenedor externo */
  height: 100%;
  border: none;

  color: black;
  font-size: 10px;
  font-family: 'Press Start 2P', cursive;

  cursor: pointer;
  margin-top: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  padding: 4px 8px;
  box-sizing: border-box;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
