<div class="avatar-selector-container">
  <button class="flecha izquierda" (click)="anteriorAvatar()"></button>

  <div class="avatar-display">
    <img [src]="avatarActual?.imageUrl" alt="{{ avatarActual?.name }}" />
    <p>{{ avatarActual?.name }}</p>

    <img
      src="/assets/hud/usar.png"
      alt="Usar avatar"
      class="boton-hud"
      (click)="activarAvatar()"
    />
  </div>

  <button class="flecha derecha" (click)="siguienteAvatar()"></button>
</div>

<!-- Botón volver -->
<div class="volver-container">
  <img
    src="/assets/hud/volver.png"
    alt="Volver"
    class="boton-hud"
    (click)="goBack()"
  />
</div>
