:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden; /* evita espacio sobrante */
  background-image: url('/assets/images/home.png');
  background-size: contain;
  background-repeat: no-repeat;
background-position: center center;
  font-family: 'Press Start 2P', cursive;
  position: relative;
}

.home-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 170px; /* empuja hacia abajo sin romper el centrado */
  gap: 1rem;
}

.button-group app-boton {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 300px;
  height: 60px;
}

button:hover {
  transform: scale(1.05);
}

app-boton.role-switch {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 10px;
  padding: 8px 16px;
  border-radius: 10px;
  color: white;
  box-shadow: 2px 2px 0 #333;
  z-index: 10;
  width: 300px;
  height: 60px;
}

app-boton.role-switch:hover {
  transform: scale(1.05);
}
