<div class="home-container">

  <!-- Botón cambiar a Maestro -->
  <button class="image-button role-switch" (click)="goToTeacher()">
    <img src="/assets/hud/maestro.png" alt="Maestro" />
  </button>

  <!-- Botón Iniciar Sesión -->
  <button class="image-button" (click)="goToLogin()">
    <img src="/assets/hud/iniciar.png" alt="Iniciar sesión" />
  </button>

  <!-- Botón Registrarse -->
  <button class="image-button" (click)="goToRegister()">
    <img src="/assets/hud/registrarse.png" alt="Registrarse" />
  </button>

</div>
