<div class="profile-card" *ngIf="player">
  <h2>Perfil del Jugador</h2>

  <p><strong>Usuario:</strong> {{ player.username }}</p>
  <p><strong>Monedas:</strong> {{ player.coins }}</p>

<div *ngIf="player?.activeAvatar">
  <app-avatar [avatarUrl]="player.activeAvatar.imageUrl"></app-avatar>
  <p><strong>Avatar activo:</strong> {{ player.activeAvatar.name }}</p>
</div>


  <div class="button-group">
    <button (click)="irJugar()">Jugar</button>
    <button (click)="irSeleccionarAvatar()">Seleccionar Avatar</button>
    <button (click)="irTienda()">Tienda</button>
    <button (click)="irUnirseClase()">Unirse a Clase</button>
    <button class="back-button" (click)="goBack()">Volver a Inicio</button>
  </div>
</div>
