:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden; /* evita espacio sobrante */
  background-image: url('/assets/images/fondo.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  font-family: 'Press Start 2P', cursive;
  position: relative;
}