body, button, input {
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
}

:root {
  --primary: #f3c427;
  --accent: #219ebc;
  --text-dark: #000;
  --bg-light: #fff;
  --bg-dark: #1f75cc;
}

button {
  transition: all 0.2s ease-in-out;
}

button:hover {
  filter: brightness(0.9);
}

