:host {
  display: block;
  height: 100vh; /* altura completa de la ventana */
  background-image: url('/assets/images/background_home.jpg');
  background-size: cover;    /* para que la imagen cubra todo el fondo */
  background-position: center center;
  background-repeat: no-repeat;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

button {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  background-color: #8ac926;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.3s;
  box-shadow: 2px 2px 4px #ccc;
}

button:hover {
  background-color: #74b816;
  transform: scale(1.05);
}

.role-switch {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #ff595e;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-size: 1rem;
}

.role-switch:hover {
  background-color: #e0484e;
}
