:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1f75cc;
  height: 100vh;
  color: white;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  padding: 20px;
}

.profile-card {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 20px;
  color: #000;
  box-shadow: 4px 4px #000;
  width: 90%;
  max-width: 400px;
}

.profile-card h2 {
  margin-bottom: 10px;
  font-size: 16px;
}

.profile-card p {
  margin: 8px 0;
  font-size: 14px;
}
