:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-image: url('/assets/images/fondo.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  font-family: 'Press Start 2P', cursive;
  position: relative;
}

/* Contenedor del formulario */
.form-container {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 4px 4px #000;
  width: 100%;
  max-width: 400px;
  color: #000;
  position: relative;
}

/* Botón de regreso */
.back-button {
  background-color: #ccc;
  border: none;
  padding: 10px;
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
  cursor: pointer;
  width: auto;
  margin-bottom: 10px;
  border-radius: 6px;
  box-shadow: 2px 2px #000;
}

/* Título */
h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 16px;
}

/* Campos de entrada */
input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  font-family: 'Press Start 2P', cursive;
  border-radius: 8px;
  border: 2px solid #000;
  font-size: 12px;
}

/* Botón de login */
button {
  background-color: #f3c427;
  border: none;
  padding: 12px;
  font-family: 'Press Start 2P', cursive;
  cursor: pointer;
  width: 100%;
  border-radius: 10px;
  box-shadow: 3px 3px #000;
  font-size: 12px;
}
