<h2>Registro</h2>
<form [formGroup]="registerform" (ngSubmit)="onSubmit()">

  <input formControlName="username" placeholder="Nombre de usuario" />
  <input formControlName="email" placeholder="Correo electrónico" />
  <input type="password" formControlName="password" placeholder="Contraseña" />

  <!-- Selección de rol -->
  <label>Rol:</label>
  <select formControlName="role" (change)="onRoleChange($event)">
    <option value="maestro">Maestro</option>
    <option value="jugador">Jugador</option>
  </select>

  <!-- Si es maestro: mostrar input para crear código de clase -->
  <div *ngIf="registerform.get('role')?.value === 'maestro'">
    <label>Nombre para tu nueva clase</label>
    <input formControlName="newClassName" placeholder="Ejemplo: Matemáticas 1" />
  </div>

  <!-- Si es jugador -->
  <div *ngIf="registerform.get('role')?.value === 'jugador'">
    <label>
      <input type="checkbox" [checked]="hasClassCode" (change)="onClassCodeChange($event)" />
      Tengo un código de clase
    </label>

    <div *ngIf="hasClassCode">
      <input formControlName="classCode" placeholder="Código de clase" />
    </div>
  </div>

  <button type="submit">Registrarse</button>
</form>
